@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

:root {
    --text: #0d0202;
    --background: #ffffff;
    --primary: #3399ff;
    --secondary: #b6d4f2;
    --accent: #a37548;
    --mute: #e0e0e0;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    overflow-x: hidden;
    color: var(--text);
    background-color: var(--background);
}

p {
    margin: 0;
}

a {
    color: var(--text);
    text-decoration: inherit;
}

a:hover {
    color: var(--text);
}